h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 10px;
  color:white;
  background-color: #1BC789;
  font-family: sans-serif;
  font-size: 1rem;


}
@media (max-width: 900px) {
  h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    color:white;
    background-color: #1BC789;
    font-size: 0.6rem;


  }
}
