h1{
  text-align: center;
  color: #1BC789;
}
fieldset{
  .rein{
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

  }
  input {
     background-color:#1BC789;
     color: white;
     text-align: center;
     width: 40%;
     margin-top: 10px;
     border-radius:10px;
     height: 25px;
     display:flex;

  }

  text-align: center;
  display: flex;
  justify-content: space-between;
  border-color:black;
  margin-top: 20px;
  border-radius: 15px;
  width: 80%
}
div{
  text-align: center;
  display: flex;
  align-items:center;
  justify-content: center;
}
::placeholder{
  text-align: center;
  color:white;
  font-size:16px;
}
button{
  display:flex;
  align-items: center;
  justify-content: center;
  background-color:#1BC789;
  color: white;
  margin-top: 10px;
  border-radius:10px;
  height: 25px;
  margin-top:20px;
  width:25%;

}
output {
  background-color:#1BC789;
  color: white;
  width:max-content;
  margin-top: 10px;
  border-radius:10px;
  height: 30px;
  display:flex;
  justify-content: center;
  align-items: center;
  border-color: black;
  border: solid;

}
p{
  color:#1BC789;
  font-size: large;
  font-weight: 600;

}
.raus{
  width:100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-flow: column;


}


@media (max-width: 900px) {
  h1 {
    display: flex;
    justify-content: center;
    color:#1BC789;
    background-color: white;
    font-family: 'Anton','Montserrat',  sans-serif;
    letter-spacing: 0.7rem;
    font-size: 2rem

  }
  fieldset{

    input {
       background-color:#1BC789;
       color: white;
       width: fit-content;
       margin-top: 10px;
       border-radius:10px;
       height: 25px;
       display:flex;
    }

    text-align: center;
    display: flex;
    border-color:black;
    margin-top: 20px;
    border-radius: 15px;
    width: 80%
  }
  div{
    margin-left:20px;
    margin-right:20px;
    display: flex;
    align-items:center;
    justify-content: center;
  }
  ::placeholder{
    text-align: center;
    color:white;
    font-size:8px;
  }
  button{
    display:block;
    background-color:#1BC789;
    color: white;
    margin-top: 10px;
    border-radius:10px;
    height: 25px;
    margin-top:20px;


  }
}
