
  <h1>Juicy Steuer Rechner</h1>


<div>
  <fieldset>
    <form class="rein"[formGroup]="nameForm">
      <input type="text" id="pflanzenJahr" name="pflanzenJahr" formControlName="pflanzenJahr"
        placeholder="Wie viele Pflanzen hattest du? ( Jährlich)">
      <br>
      <input type="text" id="ernte" name="ernte" formControlName="ernte"
        placeholder="Wie groß war deine ernte im Gramm? (Jährlich)">
      <br>
    </form>
  </fieldset>
</div>
<div>
  <button type="button" (click)="clickme()">Berechnen!</button>
</div>


<div>
  <fieldset>
    <form class="raus">
      <output>Du hast &nbsp;<span> {{myPlants}} </span>&nbsp; Pflanzen gekauft.</output>
      <output>Deine ernte war&nbsp;<span>{{myErnte}} </span>&nbsp; Gramm.</output>
      <output>Du hast insgesamt&nbsp;<span>{{plantCost}} </span>&nbsp;€ für deine Pflanzen bezahlt.</output>
      <output>Dein gewinn vor steuer ist&nbsp;<span>{{myErnte}} </span>&nbsp;€ .</output>
      <output>Im Deutschland gilt eine Freigrenze von 801€.</output>
        <output> Sobald man über die 801€ gewinn kommt, bezahlt man für die differenz Steuer</output>
        <output>Dein Steuerlast ist&nbsp;<span>{{myErnte}} </span>&nbsp;€ .</output>
        <output>Somit ist deine reine Gewinn&nbsp;<span>{{myErnte}} </span>&nbsp;€ .</output>
      </form>
  </fieldset>
</div>

