
  <h1>Rechner</h1>


<div>
  <fieldset>
    <form class="rein"[formGroup]="nameForm">
      <input type="text" id="pflanzenJahr" name="pflanzenJahr" formControlName="pflanzenJahr"
        placeholder="Wie viele Pflanzen hattest du? ( Jährlich)">
      <br>
      <input type="text" id="ernte" name="ernte" formControlName="ernte"
        placeholder="Wie groß war deine ernte im Gramm? (Jährlich)">
      <br>
    </form>
  </fieldset>
</div>
<div>
  <button type="button" (click)="clickme()">Berechnen!</button>
</div>


<div>
  <fieldset>
    <form class="raus">

      <output>Deine ernte hat&nbsp;<span>{{bruttoEinname}} </span>&nbsp;€ gebracht.</output>
      <output>Du hast insgesamt&nbsp;<span>{{plantCost}} </span>&nbsp;€ für deine Pflanzen bezahlt.</output>
      <output>Dein gewinn vor steuer ist&nbsp;<span>{{bruttoGewinn}} </span>&nbsp;€ .</output>
        <output>Dein Steuerlast ist&nbsp;<span>{{steuerAnteil}} </span>&nbsp;€ .</output>
        <output>Somit ist deine reine Gewinn&nbsp;<span>{{nettoGewinn}} </span>&nbsp;€ .</output>

      <p>Seit dem 1. Januar 2009 unterliegen private Kapitalerträge der Abgeltungsteuer.<br>
        In diesem Zuge sind der bis dahin geltende Sparerfreibeträge durch den Sparer-Pauschbetrag in Höhe von 801 Euro ersetzt worden.<br>
<br>        Wird der sogenannte Sparerpauschbetrag überschritten, fällt die Abgeltungsteuer an. </p>

</form>
  </fieldset>
</div>

