fieldset{

  output {
     background-color:#1BC789;
     color: white;
     width: fit-content;
     margin-top: 10px;
     border-radius:10px;
     height: 30px;
     display:flex;
     justify-content: center;
     align-items: center;
     letter-spacing: 0.3rem;

  }

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color:black;
  margin-top: 20px;
  border-radius: 15px;
  width: 80%
}
div{
  display: flex;
  align-items:center;
  justify-content: center;
}
